.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #222;
    color: white;
  }
  
  .logo {
    font-size: 40px;
    margin-left: 70px;
    font-weight: bold;
    color: rgb(243, 9, 122);
  }
  
  .social-links a {
    color: white;
    font-size: 35px;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: #ff9800;
    transform: scale(1.05);
  }
  